/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.4/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.4/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
*:focus {
  outline: 0; }

/* line 20, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.4/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
body {
  line-height: 1em;
  color: black;
  background: #fff; }

/* line 23, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.4/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
/* line 27, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.4/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.4/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 33, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.4/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
q, blockquote {
  quotes: "" ""; }
  /* line 101, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.4/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
  q:before, q:after, blockquote:before, blockquote:after {
    content: ""; }

/* line 36, ../../../../../../Library/Ruby/Gems/1.8/gems/chriseppstein-compass-0.8.4/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
img a {
  border: none; }

/* line 1, ../../app/stylesheets/_global.sass */
a, a:visited {
  color: blue; }

/* line 4, ../../app/stylesheets/_global.sass */
*:focus {
  outline: blue solid medium; }

/* line 7, ../../app/stylesheets/_global.sass */
body {
  padding: 10px 30px; }

/* line 10, ../../app/stylesheets/_global.sass */
textarea {
  width: 300px;
  height: 100px;
  vertical-align: middle; }

/* line 15, ../../app/stylesheets/_global.sass */
h1 {
  font-size: 25px;
  line-height: 25px;
  font-weight: bold; }

/* line 19, ../../app/stylesheets/_global.sass */
h2 {
  font-size: 20px;
  line-height: 20px; }

/* line 23, ../../app/stylesheets/_global.sass */
#flash {
  border-top: 5px solid black; }
  /* line 25, ../../app/stylesheets/_global.sass */
  #flash div {
    border: 5px solid black;
    border-top: none;
    height: 50px;
    font-size: 25px;
    line-height: 50px;
    text-align: center; }

/* line 2, ../../app/stylesheets/_header.sass */
#header {
  *display: inline-block; }
  /* line 3, ../../app/stylesheets/_mixins.sass */
  #header:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  /* line 4, ../../app/stylesheets/_header.sass */
  #header #logo {
    float: left;
    text-indent: -1000px;
    overflow: hidden;
    background: red;
    display: block;
    width: 210px;
    height: 50px;
    background: url('/images/logo.png') no-repeat;
    margin: 10px 30px; }
  /* line 14, ../../app/stylesheets/_header.sass */
  #header #user_nav {
    margin: 25px;
    float: right; }

/* line 1, ../../app/stylesheets/_contents.sass */
#contents {
  margin: 30px;
  min-height: 500px; }

/* line 1, ../../app/stylesheets/_footer.sass */
#footer {
  border-top: 5px solid black;
  text-align: center; }

/* line 2, ../../app/stylesheets/_users.sass */
body.users #gravatar {
  float: left;
  margin: 5px; }
/* line 5, ../../app/stylesheets/_users.sass */
body.users h1 {
  margin: 10px; }
/* line 7, ../../app/stylesheets/_users.sass */
body.users #form {
  clear: both; }
/* line 9, ../../app/stylesheets/_users.sass */
body.users #profile-fields {
  margin-top: 30px; }
/* line 11, ../../app/stylesheets/_users.sass */
body.users #user_address {
  height: 50px; }

@import url(_items.sas.css);
