%h1 Hi there, neighbor!

:redcloth
  We've all got plenty of stuff we're not using _all_ the time, and a huge amount of redundancy in neighborhoods.
  The state of the world economy encourages each of us to use our resources most efficiently.
  
  How often have you had a particular need and gone out to buy that one thing you necessary to finish
  some project?  Maybe it was a bundt pan or a hole cutter or a reference textbook.  You used it a handful of times
  and now it sits in your cabinet or on a shelf, begging to be put to better use.
  
  Or maybe you're the sort that likes to invest in tools.  You never know when you're going to need some tool,
  which is why you've built yourself a nice toolbox (or shop, or kitchen, etc). Maybe you have every gauge of
  knitting needle known to mankind.
  
  Wouldn't it feel great to put those resources to more efficient use by helping people in your neighborhood?
  Sure, some people know to ask, but how many anonymous neighbors go out and buy exactly the same thing because
  it seems silly to go knocking on doors to ask if they have a 3"x9" springform pan or a copper bowl.  Well,
  ShareLocally is our solution.
  
  Now, I know what you're thinking.  *Security concerns.*  I don't want everyone to know what I have, and I
  don't want to be put into a position where I have to say "no, you can't borrow that" to half of the neighborhood.
  
  h2. Here's ShareLocally solves these problems:
  
  # You list the things that you are willing to share (lend), how long you're willing to share them,
  and where you are.
  # Nobody can see your list of items or even that you're on ShareLocally.
  # When people search for the item, *they do not see your name or address*, just the item.  If they're interested,
  they send a request to you for your item, allowing you to see their profile and lending/borrowing history.
  # If they look trustworthy, you can approve their request, contact them to arrange things or get more details, and set a return due date in ShareLocally.
  # ShareLocally sends reminder emails, so you don't have to nag.  If they do not return the item on time,
  that will go on their ShareLocally profile.
  # If everything goes smoothly, you can optionally elect to let them see the other things you've listed as shareable.
  
  #{link_to 'Give it a shot!', signup_url}
  
  ShareLocally was built for #{link_to "Rails Rumble 09", "http://r09.railsrumble.com/" by
  #{link_to "Stormweight Systems", "http://www.stormweight.com/"} and is provided as a free service.  Go
  make your neighbors happy!