a, a:visited
  :color= !link_color
  
*:focus
  outline: #ccc dotted medium

body
  :padding 10px 30px

#contents
  :margin 30px 0
  
#flash
  :border-top 5px solid black
  div
    :border 5px solid black
      :top none
    :height 50px
    :font-size 25px
    :line-height 50px
    :text-align center
    