a, a:visited
  :color= !link_color
  
*:focus
  :outline= !border_color "solid medium"

html, body, p, a, div, input, span, textarea
  :font-family sans-serif
body
  :padding 10px 30px

textarea
  :width 300px
  :height 100px
  :vertical-align middle
  
a.replacement
  :font-size 11px
  :line-height 11px

em, i
  :font-style italic

b, strong
  :font-weight bold
  
textarea, input[type=text], input[type=password]
  :border= "1px solid" !border_color
  :background= !input_background
  :font-size 15px
  &:hover, &:focus
    :border-color= !border_color - #222
    :background= !input_background + #020202
input[type=button], input[type=submit], button
  :border "1px solid" !border_color
  :background= !button_color
  :padding 5px 20px
  :display block
  :text-align center
  :margin auto
    
    
.bordered
  :border= "1px solid" !border_color

  
#errorExplanation, .errorExplanation
  :color red
  +clearfix
  :margin 30px
  p
    :display none
  ul
    :color black
    :font-size 110%
    :float left
    :display block
    :background= !error_background
    :border 1px solid red
    :padding 10px

.fieldWithErrors
  :background= !error_background
  :padding 10px
  input, textarea
    :border 1px solid red

.highlight
  :color= !highlight_color
  :font-style italic
h1
  :font-size 25px
  :line-height 30px
  :font-weight bold
h2
  :font-size 18px
  :line-height 25px
  :font-weight bold
h3
  :font-size 18px
  :line-height 20px
  :font-style italic

#flash
  :border-top 5px solid black
  div
    :border 5px solid black
      :top none
    :height 50px
    :font-size 25px
    :line-height 50px
    :text-align center
    