body.users
  #map_canvas
    :float right
  h1
    :margin 10px
  #form
    :clear both
  #user_address
    :height 50px
  #gravatar-box
    :float left
    :margin 5px
  form.edit_user, form.new_user, form#user-form
    :margin-top 20px
    .replacement
      :margin-left 220px
    .notifications
      input
        :float left
      .replace
        a
          :margin-left 25px
          :float left
        div
          :margin-top 100px
    label
      :width 200px
      :display block
      :float left
      :clear left
      :text-align right
      :margin-right 10px
    input[type=text], input[type=password], textarea
      :vertical-align middle
      :width 200px
      :padding 2px
  &.show
    dl
      div.email
        :float left
        :margin-top -25px
        .replacement
          :margin-left 120px
          :clear left
          :display block
        div
          :clear left
          :margin 10px 0
            :left 120px
      dt, dd
        :float left
        :margin-bottom 10px
        :height 30px
      dt
        :margin-right 20px
        :clear left
        :font-weight bold
        :width 100px
    #about
      :clear left
      :margin-top 10px
.gravatar
  :vertical-align middle
