body.users
  #map_canvas
    :float right
  h1
    :margin 10px
  #form
    :clear both
  #user_address
    :height 50px
  #gravatar-box
    :float left
    :margin 5px
  form
    :margin-top 20px
    .replacement
      :margin-left 220px
    label
      :width 200px
      :display block
      :float left
      :clear left
      :text-align right
      :margin-right 10px
    input[type=text], input[type=password], textarea
      :vertical-align middle
      :width 200px
      :padding 2px
  &.show
    dl
      +clearfix
      dt, dd
        :float left
        :margin-bottom 10px
      dt
        :margin-right 20px
        :clear left
        :font-weight bold
        :width 100px
    #about
      :margin-top 10px
.gravatar
  :vertical-align middle
