
- unless current_user.incoming_requests.empty?
  #incoming-requests.box.bordered
    - for request in current_user.incoming_requests
      .request{:id => request.element_id}
        == #{link_to_user request.user} wants to borrow #{link_to request.item, user_item_url(current_user, request.item)}
        = link_to_remote 'Grant', :url => item_request_url(request.item, request), :method => :put
        = link_to_remote 'Deny', :url => item_request_url(request.item, request), :method => :delete
