.box
  - form_for @item, :url => user_item_url(@user) do |f|
    = render :partial => 'items/form', :locals => {:f => f}
    = f.submit 'Save Changes'
  = button_to "Delete this item", item_url(@item), :method => :delete, :confirm => "Really?"