= render :partial => 'items/item', :locals => {:item => @item}
- if @user
  = link_to "All of this user's items", user_items_url(@user)
  - if @user == current_user
    = link_to "Edit", edit_user_item_url(@user, @item)
